<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Мониторинг занятий</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Главная
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addTeacher">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Добавить учителя
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="showTeachers">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Учителя
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addLesson">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Добавление занятия
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="showLessons">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Занятия
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="report">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Отчетность
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
